/*Custom font googlelt*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

/*Põhiseaded*/
html, body {
    font-family: arial, sans-serif;
}

.täispikkus {
    margin-top: -80px;
    text-align: center;
    align-items: center;
    padding-top: 25vh;
    font-size: 64px;
    font-family: "Faculty Glyphic", sans-serif;

    height: 25vh;
    background-image: url(https://images.unsplash.com/photo-1607799279861-4dd421887fb3?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
}
/*Põhisisu ja tiitlid*/

.sisu {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3rem 20vw;
    text-align: center;
    align-items: center;
    
}

.sisu h1 {
    padding-bottom: 40px;
    border-bottom: solid 1px whitesmoke;
}

/*box ja selle sisu*/

.box {
    max-width: 680px;
    max-height: auto;


    border: 2px solid transparent;
    border-radius: 25px;
    margin-bottom: 20px;

    background: 
        linear-gradient(140deg, #292929, #131313) padding-box, 
        linear-gradient(180deg, greenyellow, whitesmoke) border-box;
    background-size: 200% 200%;
    animation: flow 1s ease-in;

    box-sizing: border-box;
    padding: 25px 5vw;
    text-align: center;
    align-items: center;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.box h2{
    margin: 0 0 25px 0;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}

.box p {
    text-align: justify;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 12.5px;
}

/*Back to main button*/

.edasinupp {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #292929;
    z-index: 1;
}

.edasinupp::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.edasinupp:hover::before {
  top: -35%;
  background-color: yellowgreen;
  transform: translateX(-50%);
}
