/*HTML, BODY*/
/*Cosmetic changes*/
html, body {
    margin: 0 auto;
    padding: 0;
}

main {
    margin: 10%;
    margin-top: 2%;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: arial, sans-serif;
    background-color: rgba(19, 22, 26, 0.9);
}

header h1, nav {
    background-color: rgba(19, 22, 26, 0);
}

nav {
    margin: 10px;
}

* {
    background-color: #1C1C1C;
    color: white;
}
/*MAIN*/
.appearance {
    border-top: 1px solid ;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.intro .tekst {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.intro .pilt {
    height: auto;
    border-radius: 10px;
}

.appearance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.appearance .tekst {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-left: 10px;
}

.appearance .pilt {
    height: auto;
    border-radius: 10px;
}

.appearance :nth-child(1) {
    order: 1;
}

.nupp {
	background-color:#575757;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    white-space: nowrap;
}
.nupp:hover {
	background-color:#3d3d3d;
}
.nupp:active {
	position:relative;
	top:1px;
}

img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/*FOOTER*/
footer {
    border-top: 1px solid #5c5c5c81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: radial-gradient(circle at center, #202020, #0f0f0f);
}

footer *{
    background: 0;
}

footer p {
    font-size: 12px;
    max-width: 50vw;
}

footer img {
    max-width: 2vw;
    min-width: 30px;
    height: auto;
    margin: 15px;
}
