/*Custom font googlelt*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

/*P천hiseaded*/
html, body {
    font-family: arial, sans-serif;
}

.t채ispikkus {
    margin-top: -80px;
    text-align: center;
    align-items: center;
    padding-top: 25vh;
    font-size: 64px;
    font-family: "Faculty Glyphic", sans-serif;

    height: 25vh;
    background-image: url(https://media.istockphoto.com/id/476924948/photo/office-worker-of-the-past.jpg?s=2048x2048&w=is&k=20&c=YbSKXdkmTRoo92xIa-rXOm16-OJwKSXtV31Y1RGFjHg=);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
/*P천hisisu ja tiitlid*/

.sisu {
    background-color: #1C1C1C;
    background-image: url(https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3rem 20vw;
    text-align: center;
    align-items: center;
    
}

.sisu h1 {
    padding-bottom: 40px;
    border-bottom: solid 1px whitesmoke;
}

/*box ja selle sisu*/

.box {
    max-width: 680px;

    border: 2px solid transparent;
    border-radius: 25px;
    margin-bottom: 20px;

    background: 
        linear-gradient(140deg, #292929ef, #131313) padding-box, 
        linear-gradient(180deg, greenyellow, whitesmoke) border-box;
    background-size: 100% 100%;
    animation: flow 1s ease-in;

    box-sizing: border-box;
    padding: 25px 5vw;
    text-align: center;
    align-items: center;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.box h2{
    margin: 0 0 25px 0;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}

.box p {
    text-align: justify;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 12.5px;
}

/*Back to main button*/
a {
    text-decoration: none;
    color: white;
}

.edasinupp {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #292929;
    z-index: 1;
}

.edasinupp::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.edasinupp:hover::before {
  top: -35%;
  background-color: yellowgreen;
  transform: translateX(-50%);
}

/*Back to main button*/
body.light-mode .nupp {
    border:2px solid pink;
}

body.light-mode .sisu h1{
    border-color: #1C1C1C;
}

body.light-mode .t채ispikkus {
    color: white;
}

body.light-mode .sisu {
    color: #1C1C1C;
    background-image: url(https://plus.unsplash.com/premium_photo-1668004507251-d282df882123?q=80&w=1689&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: antiquewhite;
}

body.light-mode .box {
    color: white;
    background: 
        linear-gradient(0deg,#13131320, #29292950) padding-box, 
        linear-gradient(180deg, rgb(255, 47, 231), rgb(255, 255, 255)) border-box;
}

body.light-mode a {
    color: white;
    text-decoration: none;
}

body.light-mode footer {
    border-top: 1px solid rgb(255, 47, 231);
}

body.light-mode .edasinupp {
    border: 2px solid rgb(255, 47, 231);
}

body.light-mode .edasinupp:hover::before {
    background-color: rgb(255, 47, 231);
}