/*------------------------------------ HTML, BODY ------------------------------------*/
html, body {
    margin: 0 auto;
    padding: 0;
    background-color: #1C1C1C;
    color: white;
    background-image: url("../media/dark_bg.jpg");
}

/*------------------------------------ HEADER, NAVBAR ------------------------------------*/
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: arial, sans-serif;
    text-align: center;
    background-color: rgba(19, 22, 26, 0.9);
}

header a{
    color: white;
    text-decoration: none;
    transition: text-shadow 1s ease-out;
}

header h1 a:hover{
    text-shadow: 2px 1px 2px greenyellow;
}

header a:active{
    color: rgb(240, 255, 215);
}

header h1, nav {
    background-color: rgba(19, 22, 26, 0);
}

nav {
    margin: 10px;
}

.nupp {
	background: linear-gradient(140deg, #575757b4, #3d3d3dbb);
	border-radius:28px;
	border:2px solid greenyellow;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
    margin: 2px;
	text-decoration:none;
    white-space: nowrap;
    transition: background 0.4s ease, transform 0.4s ease;
}
.nupp:hover {
	background: linear-gradient(120deg, #575757, #3d3d3d);
    transform: scale(1.05);
}
.nupp:active {
	position:relative;
	top:1px;
}

/*------------------------------------ FOOTER ------------------------------------*/
footer {
    border-top: 1px solid greenyellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
    background: radial-gradient(circle at center, #202020, #0f0f0f);
}

footer *{
    background: 0;
}

footer p {
    font-size: 12px;
    max-width: 50vw;
    color: white;
}

footer img {
    max-width: 2vw;
    min-width: 30px;
    height: auto;
    margin: 15px;
}

/*------------------------------------ Light-mode ------------------------------------*/

.light-mode {
    background-image: url("../media/light_bg.png");
    background-size: 100%, 100%;
    color: #1C1C1C;
    
}

body.light-mode header h1{
    color: white;
}

body.light-mode header a{
    color: white;
}

body.light-mode a {
    color: brown;
}

body.light-mode a:active {
    color: black;
}

body.light-mode .nupp {
    color: white;
}

.light-mode .appearance:hover {
    background-color: #E1C49C; /* Kõrberoos + Heledam */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}
.light-mode .mentality:hover {
    background-color: #D0A97B; /* Kamel + Heledam */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}
.light-mode .intro:hover {
    background-color: #F7D888; /* Puitkollane + Heledam */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}
.light-mode .gadgets:hover {
    background-color: #DBA876; /* Kuldne Ooker + Heledam */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

/*------------------------------------ Div Background ------------------------------------*/
div.intro {
    background-color: #E9C978;
    border-radius: 20px;
}

section.appearance {
    background-color: #D2B48C;
    border-radius: 20px;
}

section.gadgets {
    background-color: #CC9966;
    border-radius: 20px
}

section.mentality {
    background-color: #E2725B;
    border-radius: 20px
}

section.appearance:hover {
    background-color: #B9A37C; /* Kõrberoos */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}
section.mentality:hover {
    background-color: #AE895B; /* Kamel + Heledam */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}
div.intro:hover {
    background-color: #D1B568; /* Puitkollane + Heledam */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}
section.gadgets:hover {
    background-color: #B38555; /* Kuldne Ooker + Heledam */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

div.intro,
section.appearance,
section.gadgets,
section.mentality {
    transition: background-color 0.3s ease, 
                box-shadow 0.3s ease, 
                transform 0.3s ease; 
}

