html, body {
    margin: 0 auto;
    padding: 0;
}

* {
    background-color: #1C1C1C;
    color: white;
}

img {
    max-width: 100%; 
    height: auto; 
}

.nupp {
	background-color:#f2f2f2;
	border-radius:28px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial, sans-serif;
	font-size:12px;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    white-space: nowrap;
}
.nupp:hover {
	background-color:#c9c9c9;
}
.nupp:active {
	position:relative;
	top:1px;
}

footer {
    border-top: 1px solid #5c5c5c81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: radial-gradient(circle at center, #202020, #0f0f0f);
    gap: 2vw
}

footer *{
    background: 0;
}

footer p {
    font-size: 12px;
    max-width: 50vw;
}

footer img {
    max-width: 2vw;
    min-width: 30px;
    height: auto;
    margin: 15px;
}

nav {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: clamp(20px, 8vw, 100px);
}