html, body {
    margin: 0 auto;
    padding: 0;
    font-family:Arial;
}

main {
    margin: 10%;
    margin-top: 2%;
}

header {
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: arial, sans-serif;
    background-color: rgba(19, 22, 26, 0.9);
}

header h1, nav {
    background-color: rgba(19, 22, 26, 0);
}

nav {
    margin: 10px;
}
* {
    background-color: #1C1C1C;
    color: white;
}

img {
    max-width: 100%; 
    height: auto; 
}

.nupp {
	background-color:#575757;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    white-space: nowrap;
}
.nupp:hover {
	background-color:#3d3d3d;
}
.nupp:active {
	position:relative;
	top:1px;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: top;
    padding: 10px;
}

.intro .tekst {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.intro .pilt {
    height: auto;
    border-radius: 10px;
}


@media (min-width: 600px) {

    .esimene {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .esimene .pilt {
        flex-shrink: 0;
        flex: 1;
    }

    .esimene .tekst {
        flex: 2;
    }

    .esimene .pilt img {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: block;
    }
}

@media (max-width: 600px) {
    .esimene {
        flex-direction: column;
        text-align: center;
    }

    .esimene .pilt img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 600px) {

    .teine {
        display: flex;
        align-items: top;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .teine .pilt {
        flex-shrink: 0;
        flex: 1;
    }

    .teine .tekst {
        flex: 2;
    }

    .teine .pilt img {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: block;
    }
}

@media (max-width: 600px) {
    .teine {
        flex-direction: column;
        text-align: center;
    }

    .teine .pilt img {
        width: 100%;
        height: auto;
    }
}



.esimene {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}

.teine {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}

.kolmas {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}


footer {
    border-top: 1px solid #5c5c5c81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: radial-gradient(circle at center, #202020, #0f0f0f);
    gap: 2vw
}

footer *{
    background: 0;
}

footer p {
    font-size: 12px;
    max-width: 50vw;
}

footer img {
    max-width: 2vw;
    min-width: 30px;
    height: auto;
    margin: 15px;
}