/*---Custom font googlelt---*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

/*---Põhiseaded---*/
html, body {
    font-family: arial, sans-serif;
}

header .nav-icon {
    display: none; 
}

/*---JavaScript Parallax reveal effect---*/
#js-parallax {
    width: 167%;
    height: 600px; 
    margin-top: -15%;
    margin-bottom: 5%;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*HVw8w6EZByyTIWHkJx6Odw.jpeg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    #js-parallax {
        margin-top: 0%;
        width: 100%;
        margin-bottom: 5%;
        background-attachment: scroll;
        background-size: cover;
        min-height: 300px;
        max-height: 500px;
    }
}

/*---Kui ekraan on kitsam kui 600px, ehk siis telefoni ekraan, siis muutub navbar ja tekib hamburgerimenüü, script hamburger.js on kasutusel---*/
@media (max-width: 600px) {
    
    header {
        justify-content: space-between;
        align-items: center;
        padding-right: 10px; 
    }
    
    header .nav-icon {
        display: block; 
        font-size: 30px;
        padding: 10px;
        text-decoration: none;
        color: white;
        line-height: 1;
    }

    header #lingid {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        background-color: rgba(19, 22, 26, 0.95);
        z-index: 1000;
        flex-direction: column;
    }
        
    header #lingid .nupp {
        display: block; 
        border-radius: 0;
        text-align: left;
        border: none;
        border-bottom: 1px solid #57575780;
        padding: 15px 20px;
        background-color: transparent;
    }
    nav {
        margin: 0;
    }
}

.sisu {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3rem 20vw;
    text-align: center;
    align-items: center;
    
}

.sisu h1 {
    padding-bottom: 40px;
    border-bottom: solid 1px whitesmoke;
}

/*---Kui ekraan on kitsam kui 600px, siis ka sisu esitusviis muutub telefonisõbralikumaks, ehk siis laiemaks---*/
@media (max-width: 600px) {
    .sisu {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }

    .sisu .pilt img {
        width: 100%;
        height: auto;
    }
}

/*---Lisatud teiselt alaleleht kastide stiil---*/
.box {
    max-width: 680px;

    border: 2px solid transparent;
    border-radius: 25px;
    margin-bottom: 20px;

    background: 
        linear-gradient(140deg, #292929ef, #131313) padding-box, 
        linear-gradient(180deg, greenyellow, whitesmoke) border-box;
    background-size: 100% 100%;
    animation: flow 1s ease-in;

    box-sizing: border-box;
    padding: 25px 5vw;
    text-align: center;
    align-items: center;
}

.box h2{
    margin: 0 0 25px 0;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}

.box p {
    text-align: justify;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 12.5px;
}

/*---Light ja Dark mode seaded leheküljele---*/

body.light-mode .sisu h1{
    border-color: #1C1C1C;
}

body.light-mode .täispikkus {
    color: white;
}

body.light-mode .sisu {
    color: #1C1C1C;
    background-color: antiquewhite;
}

body.light-mode .box {
    color: white;
    border: 0px;
    background: 
        linear-gradient(0deg,#131313c3, #292929) padding-box, 
        linear-gradient(360deg, greenyellow, rgb(0, 0, 0)) border-box;
}

body.light-mode a {
    color: white;
    text-decoration: none;
}

/*---Back to main nupp---*/

a {
    text-decoration: none;
    color: white;
}

.edasinupp {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #292929;
    z-index: 1;
}

/*---Lisand edasinupule telefonivaates, et see liialt alla Footeri otsa ei vajuks---*/

@media (max-width: 600px) {
    .edasinupp {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid yellowgreen;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #292929;
    z-index: 1;

    margin-bottom: 25px;
    }
}

.edasinupp::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 150%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.edasinupp:hover::before {
    top: -35%;
    background-color: yellowgreen;
    transform: translateX(-50%);
}