html, body {
    margin: 0 auto;
    padding: 0;
    font-family:Arial;
    background-color: #1C1C1C;
    color: white;
}

main {
    margin: 10%;
    margin-top: 2%;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-family: arial, sans-serif;
    background-color: rgba(19, 22, 26, 0.9);
}

header h1, nav {
    background-color: rgba(19, 22, 26, 0);
}

nav {
    margin: 10px;
}

img {
    max-width: 100%; 
    height: auto; 
}

.nupp {
	background-color:#575757;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    white-space: nowrap;
}
.nupp:hover {
	background-color:#3d3d3d;
}
.nupp:active {
	position:relative;
	top:1px;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}

.intro .tekst {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.intro .pilt {
    height: auto;
    border-radius: 10px;
}

header .nav-icon {
    display: none; 
}

@media (min-width: 600px) {

    .esimene {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .esimene .pilt {
        flex-shrink: 0;
        flex: 1;
    }

    .esimene .tekst {
        flex: 2;
    }

    .esimene .pilt img {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: block;
    }
}

@media (max-width: 600px) {
    .esimene {
        flex-direction: column;
        text-align: center;
    }

    .esimene .pilt img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 600px) {

    .teine {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
    }

    .teine .pilt {
        flex-shrink: 0;
        flex: 1;
    }

    .teine .tekst {
        flex: 2;
    }

    .teine .pilt img {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: block;
    }
}

@media (max-width: 600px) {
    .teine {
        flex-direction: column;
        text-align: center;
    }

    .teine .pilt img {
        width: 100%;
        height: auto;
    }
}



.esimene {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}

.teine {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}

.kolmas {
    border-top: 1px solid ;
    padding-bottom: 30px;
    padding-top: 30px;
}


footer {
    border-top: 1px solid #5c5c5c81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: radial-gradient(circle at center, #202020, #0f0f0f);
    gap: 2vw
}

footer *{
    background: 0;
}

footer p {
    font-size: 12px;
    max-width: 50vw;
}

footer img {
    max-width: 2vw;
    min-width: 30px;
    height: auto;
    margin: 15px;
}


#js-parallax {
    width: 100%;
    height: 700px; 
    margin-top: 0%;
    margin-bottom: 5%;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*HVw8w6EZByyTIWHkJx6Odw.jpeg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    #js-parallax {
        margin-top: 5%;
        margin-bottom: 5%;
        background-attachment: scroll;
        background-size: cover;
        min-height: 300px;
        max-height: 500px;
    }
}


@media (max-width: 600px) {
    
    header {
        justify-content: space-between;
        align-items: center;
        padding-right: 10px; 
    }
    
    header .nav-icon {
        display: block; 
        font-size: 30px;
        padding: 10px;
        text-decoration: none;
        color: white;
        line-height: 1;
    }

    header #lingid {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        background-color: rgba(19, 22, 26, 0.95);
        z-index: 1000;
        flex-direction: column;
    }
    
    header #lingid.responsive {
        display: flex;
    }
    
    header #lingid .nupp {
        display: block; 
        border-radius: 0;
        text-align: left;
        border: none;
        border-bottom: 1px solid #57575780;
        padding: 15px 20px;
        background-color: transparent;
    }
    nav {
        margin: 0;
    }
}


.light-mode {
    background-color: antiquewhite;
    color: #1C1C1C;
}

body.light-mode header h1{
    color: white;
}

body.light-mode header a{
    color: white;
}

body.light-mode a {
    color: brown;
}

body.light-mode a:active {
    color: black;
}

body.light-mode .nupp {
    color: white;
}